.notification{
    position: fixed;
    bottom: 20px;
    left: 100px;
    background-color: rgb(235, 237, 71);
   font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:5px;
    border-radius: 4px;
    box-shadow: 2px;
 
}