.cart ul li{
    list-style-type: none;
    
}
.cart-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(192, 192, 212);
    padding-bottom: 10px;
}
.cart-item-image{
    width: 130px;
    margin-right: 10px;
}
.cart-item-title{
    flex: 1;
    font-size: medium;
}
.quantity-controls{
    display: flex;
    justify-content:space-evenly;
    
}
.quantity-controls button{
    padding: 5px 10px;
    margin: 2px;
    background-color: #87d7e0;
    width: 40px;
 
}
.cart-item-price{
    width: 100px;
    text-align: right;
}
.remove-item{
    background-color:red;
    color:white;
    cursor:pointer

}
.cart-total{
    margin-top: 20px;
    font-size: 1.5em;
    text-align: right;
}
.buy-now-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    width:130px;
  }
 /* Responsive Styles */
@media (max-width: 768px) {
    .cart-item {
        flex-direction: column;
        align-items: center;
    }

    .cart-item-image {
        width: 100%;
        max-width: 200px;
        margin-bottom: 10px;
    }

    .cart-item-title {
        margin-bottom: 10px;
        font-size: 1.2em;
        text-align: left;
    }

    .quantity-controls {
        width: 30%;
        justify-content: space-between;
    }

    .cart-item-price, .remove-item {
        width: 30%;
        text-align:center;
        margin-top: 10px;
    }

    .cart-total {
        font-size: 1.2em;
        text-align: center;
    }

    .buy-now-button {
        width: 30%;
        text-align: center;
        margin-top: 20px;
        margin-left: 40%;
    }
}