.navbar {
    background-color: #45b6d3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 1.8em;
    color: rgb(255, 255, 255);
}

.ml-auto{
    display: flex;
    gap: 20px;
    margin-left: 600px;
    font-size: larger;
    margin-left: auto;
    
}

.ml-auto a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.ml-auto a:hover {
    color: #FFD700;
}



